venv/
.venv/
env/
pycache/
*.py[cod]
*$py.class
waitress.log
.DS_Store
.vscode/
.idea/
lutrin_apk/.idea/
*.local

# Ignore data directories
lutrin_tools/certs
lutrin_data/
lutrin_api/models/*
!lutrin_api/models/.gitkeep
