venv/
.venv/
env/
pycache/
*.py[cod]
*$py.class
waitress.log
.DS_Store
.vscode/
.idea/
lutrin_apk/.idea/
*.local

# Ignore data directories
lutrin_tools/certs
lutrin_data/
lutrin_api/models/*
!lutrin_api/models/.gitkeep

# lutrin_apk_auto
lutrin_apk_auto/local.properties
lutrin_apk_auto/.gradle/
lutrin_apk_auto/build/
lutrin_apk_auto/app/build/
lutrin_apk_auto/*.apk
