venv/
.venv/
env/
pycache/
*.py[cod]
*$py.class
waitress.log
lutrin_data/*
!lutrin_data/
!lutrin_data/test*
lutrin_data/test*_optimized.png
.DS_Store
.vscode/
*.local
lutrin_coqui/coqui-data/
lutrin_client/config.js
lutrin_tools/certs